
<div class="col-sm-10">
<div class="col-sm-4">
  <table> 
  <tr>
        <td>Équipe</td>
        <td>Code</td>
        <td>Rang</td>
    </tr>
  <tr>
        <td> <input type="text" ng-model="team" ng-model-options="{ getterSetter: true }"></input></td>
        <td><input type="text" ng-model="code" ng-model-options="{ getterSetter: true }"></input></td>
        <td><input type="text" ng-model="rang" ng-model-options="{ getterSetter: true }"></input></td>
  </tr>
  <tr>
      <td ng-model="answer">Test</td>
    </tr>
</table>

  <button type="button" (click)="add()">
    <span class="glyphicon glyphicon-minus"></span>ADD
  </button>
</div>
</div>